<h3><%= "#{@merchant.name}" %> Bulk Discounts</h3>
<div>
  <ul>
    <% @merchant.bulk_discounts.each do |discount| %>
    <section id="mechant_discount-<%= discount.id %>">
      <li>Percentage Off: <%= discount.percentage %>
          (<%= discount.quantity_threshold %>- items required)</li>
          <p><%= link_to "Bulk Discount ##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %></p>
          <p><%= button_to "Delete ##{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :delete %></p>
    </section>
    <% end %>
  </ul>
</div>

<section>
  <ul>
    <p><%= link_to "Enter New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %></p>
  </ul>
</section>

<section class="holidays">
  <h2>Upcoming Holidays</h2>
  <ul>
    <% @holidays.each do |holiday| %>
      <li>
        <p>Name: <%= holiday["name"] %> | Date: <%= holiday["date"] %></p>
    <% end %>
  </ul>
</section>